
[gcode_macro G32]
gcode:
    #SAVE_GCODE_STATE NAME=STATE_G32
    G90
    G28
    QUAD_GANTRY_LEVEL
    G28
    ##  Uncomment for for your size printer:
    #--------------------------------------------------------------------
    ##  Uncomment for 250mm build
    #G0 X125 Y125 Z30 F3600
    
    ##  Uncomment for 300 build
    #G0 X150 Y150 Z30 F3600
    
    ##  Uncomment for 350mm build
    G0 X175 Y175 Z30 F3600
    #--------------------------------------------------------------------
    #RESTORE_GCODE_STATE NAME=STATE_G32


#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
[gcode_macro PRINT_START]
gcode:
    #SAVE_GCODE_STATE NAME=start
    {% set T_BED = params.T_BED|default(50) %}
    {% set T_EXTRUDER = params.T_EXTRUDER|default(205) %}
    M117 Homing
    # Use absolute coordinates
    BED_MESH_CLEAR
    G32
    CHAMBER_LED_ON
    M117 Waiting for temperature
    # Start bed heating and continue
    M140 S{T_BED}
    {% if printer.heater_bed.temperature > params.T_BED|float*0.85 %}
        M140 S{T_BED}
        M109 S{T_EXTRUDER} 
        M190 S{T_BED}
    {% else %}
        M190 S{params.T_BED|float*0.85} # wait till 0.85 of bed temp is reached, then continue
        M140 S{T_BED} 
        M109 S{T_EXTRUDER}
        M190 S{T_BED}
    {% endif %}

    #BUILD MESH
    #G28 ; Home all axes
    BED_MESH_CALIBRATE
    #BED_MESH_PROFILE LOAD=default
    G1 Z5 F3000
    G1 Z1 F300
    G92 E0 ; reset extruder
    M117 Starting Print
    #RESTORE_GCODE_STATE NAME=start


[gcode_macro PRINT_END]
gcode:
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-5.0 F1800                 ; retract filament
    
    TURN_OFF_HEATERS
    
    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  ; park nozzle at rear
    M107                                     ; turn off fan
    
    BED_MESH_CLEAR
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE


